<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" 
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer"></script>
</head>
<body>
<h1>Body</h1>
<script>
if (typeof jQuery === 'undefined') {
	  // jQuery is not loaded
	  console.log('jQuery is not loaded.');
	} else {
	  // jQuery is loaded
	  console.log('jQuery is loaded.');
	}
</script>
</body>
</html>