<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:fragment="Layout(content)">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" 
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer"></script>



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" 
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" 
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
crossorigin="anonymous"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/CSS/style.css}">
<script th:src="@{/js/script.js}"></script>
</head>
<body>
  
  <div class="card">
  <div class="container text-center">
 <h1 class="paisa">PAISA BHEJO</h1>
 </div>
 </div>
 <p>
   <div th:replace="${content}">
   </div>
   <p>
 <script>
if (typeof jQuery === 'undefined') {
	  // jQuery is not loaded
	  console.log('jQuery is not loaded.');
	} else {
	  // jQuery is loaded
	  console.log('jQuery is loaded.');
	}
</script>

</body>
</html>